body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}
#main-header{
  text-align: center;
}
.featured-property{
  align-content: center;
}
#imagez{
  align-items: center;
}
#details{
orientation: horizontal;
  flex: 1;
}